/*Carrusel*/
.carrousel-item{
    width: 100%;
    height: 300px;
}
@media (max-width: 600px){
    carrousel.item{
        height: 280;
    }
}
body{
    background-color: black;
}

/*PreSentacionntacion*/
#Presentacion{
    background:#000 ;   
    background: cover;
}
#Presentacion h4{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}
#Presentacion p{
    font-family: 'Raleway', sans-serif; 
    font-weight: 400; 
    font-size: 12px;
    line-height: 2;
}
#Presentacion{
    color: #ffff;
}
#Presentacion hr{
    background-color: #27a0be;
    height: 1px;   
}
.barra{
    background: #27a0be;
    height: 30px;
    width: 320px;
}
.fas{
    font-size: 25px;
    padding-top: 2px;
}
/*Destacados*/

#Destacados div h4{
    color: white;
    font-family: 'Raleway', sans-serif; 
    font-weight: 500; 
}
#Destacados div hr{
    background-color: #27a0be;
    height: 1px;
}
#Destacados .card{
    background-color: #27a0be;
    color: white;
    border-radius: 4;
}
/*Contacto*/
#Contacto div h4{
    color: white;
    font-family: 'Raleway', sans-serif; 
    font-weight: 500; 
}
#Contacto div hr{
    background-color: #27a0be;
    height: 1px;;
}
/* Footer*/

#Footer{
    background-color: #27a0be;
}